.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
}

.header-grid {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  row-gap: 2px;
}

.upper-section{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}

.lower-section {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.left-section{
  display: flex;
  align-items: center;
}

.topbar-left-section {
  width: 250px;
  display: flex;
  align-items: center;
}

.topbar-right-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;

  margin-left: 34px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  display: flex;
  align-items: center;

  flex: 1;
  max-width: 730px;

  margin-left: 260px;
  margin-right: 90px;
}

.search-bar {
  flex: 0.9;
  height: 34px;
  width: 0px;
  font-size: 14px;

  border: 1px solid #dbdbdb;
  border-radius: 30px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);

  padding-left: 15px;
}

.search-bar:focus{
  background: url(https://supersimple.dev/public/img/exercises/youtube/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 10px 9px;
  background-size: 20px;
  padding-left: 40px;
}


.search-bar::placeholder {
  font-size: 16px;
  color: #8a8a8a;
  font-weight: 300;
}


.search-button, 
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 38px;
  width: 60px;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(192, 192, 192);;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  margin-left: -20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(240, 240, 240);
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.arrow-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  bottom: -30px;
  background-color: grey;
  color: white;
  font-size: 12px;

  padding: 6px 8px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.arrow-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon {
  height: 22px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 20px;

  margin-left: 10px;
  cursor: pointer;
}

.voice-search-button:hover {
  background-color: rgb(230, 230, 230);
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  right: 13px;
  flex-shrink: 0;
  margin-left: 90px;
  margin-right: 13px;
}

.upload-icon {
  height: 24px;
}

.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
  padding: 5px;
  cursor: pointer;
}

.upload-icon-container:hover,
.youtube-apps-icon-container:hover,
.notifications-icon-container:hover {
  background-color: rgb(230, 230, 230);
  padding: 5px;
  border-radius: 20px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
  margin-right: 10px;
}

.notifications-count {
  background-color: rgb(200, 0, 0);
  color: white;


  font-size: 11px;

  position: absolute;
  top: -2px;
  right: -5px;

  padding: 2px 5px;
  border-radius: 10px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;

  margin-left: 15px;
  cursor: pointer;
}


.subscribe-button {
  color: black;
  border: none;
  font-size: 13px;

  border-radius: 7px;
  cursor: pointer;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;

  margin-right: 11px;
  transition: color 0.15s, background-color 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  background-color: rgb(227, 227, 227);

}

.subscribe-button:active {
  background-color: black;
  color: white;

}

.arrow-icon {
  height: 24px;
}

.arrow-icon-container {
  height: 25px;
  padding: 5px;
  cursor: pointer;
  margin-left: 35px;
}

.arrow-icon-container:hover {
  background-color: rgb(230, 230, 230);
  padding: 5px;
  border-radius: 20px;
}