.sidebar {
  position: fixed;

  left: 0;
  bottom: 0;
  top: 60px;

  width: 220px;
  background-color: white;

  z-index: 200;
  padding-top: 5px;

  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 0px 5px 0px 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(148, 147, 147);
  border-radius: 10px;
}

.scrollbox {
  overflow: auto;
  padding-right: 10px;
  margin-bottom: 60px;
  visibility: hidden;
}

.scrollbox-inner,
.scrollbox:hover {
  visibility: visible;
}


.sidebar-link,
.sidebar-link-shorts {
  height: 40px;
  width: 200px;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.sidebar-link:hover,
.sidebar-link-shorts:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 12px;
}

.shorts-icon {
  height: 45px;
  margin-left: 7px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.liked-icon {
  height: 37px;
  margin-left: 14px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.lib-icon {
  height: 32px;
  margin-left: 17px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.sidebar-link-image {
  height: 24px;
  margin-bottom: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar-img {
  height: 40px;
  margin-bottom: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar-link div,
.sidebar-link-shorts div {
  font-size: 14px;

  display: flex;
  align-items: center;
  height: 50px;
  width: 150px;

  padding: 0;
  margin: 0;
}

.sidebar-link div:hover,
.sidebar-link-shorts div:hover {
  font-weight: 500;
}

.divider {
  background-color: rgb(220, 220, 220);
  width: 97%;
  height: 1px;
  margin: 10px;
}

.sidebar-topic-name{
  color: black;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 17px;
}